{% extends "base.html" %}
{% block title %}Reveal: Terms of Service{% endblock %}
{% block description %}<meta name="description" content="Terms of Service"/>{% endblock %}
{% block bodyclass %}{{ super() }}<body class="tos-view">{% endblock %}
	{% block sections %}
	<div id="main">
		<section>
			<h2>Terms of Service</h2>
			<p>Welcome to the rvl.io service (the &quot;Service&quot;). What follows is boring legalese that we unfortunately need to include. This is primarily here to ensure we are not liable for the content our users generate.</p>

			<p>The following Terms of Service apply when you view or use the Service. Please review the following terms carefully.  By accessing or using the Service, you signify your agreement to these Terms of Service. If you do not agree to these Terms of Service, you may not access or use the Service.</p>

			<p>Your permission to use the Service is conditioned upon the following restrictions: You agree that you will not under any circumstances:</p>

			<ul>
				<li>post any information that is abusive, threatening, obscene, defamatory, libelous, or racially, sexually, religiously, or otherwise objectionable and offensive;</li>
				<li>use the service for any unlawful purpose or for the promotion of illegal activities;</li>
				<li>attempt to, or harass, abuse or harm another person or group;</li>
				<li>use another user's account without permission;</li>
				<li>interfere or attempt to interfere with the proper functioning of the Service;</li>
				<li>make any automated use of the system, or take any action that we deem to impose or to potentially impose an unreasonable or disproportionately large load on our servers or network infrastructure;</li>
				<li>publish or link to malicious content intended to damage or disrupt another user's browser or computer.</li>
			</ul>

			<h3>Warranty Disclaimer</h3>
			<p>The Service, is provided 'as is,' without warranty of any kind. Without limiting the foregoing, the company expressly disclaims all warranties, whether express, implied or statutory, regarding the Service including without limitation any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement. Without limiting the foregoing, the company makes no warranty or representation that access to or operation of the Service will be uninterrupted or error free. You assume full responsibility and risk of loss resulting from your downloading and/or use of files, tools, information, content or other material obtained from the Service. Some jurisdictions limit or do not permit disclaimers of warranty, so this provision may not apply to you.</p>

			<h3>Limitation of Damages; Release</h3>
			<p>To the extent permitted by applicable law, in no event shall the company, its affiliates, directors, or employees, or its licensors or partners, be liable to you for any loss of profits, use,  or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from (a) the use, disclosure, or display of your user content; (b) your use or inability to use the Service; (c) the Service generally or the software or systems that make the Service available; or (d) any other interactions with the company or any other user of the Service, whether based on warranty, contract, tort (including negligence) or any other legal theory, and whether or not the company has been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.  Some jurisdictions limit or do not permit disclaimers of liability, so this provision may not apply to you.</p>
				<small>Effective as of 11-08-2012</small>
			</section>
		</div>
{% endblock %}